@model KoloLos.Models.ArticleDetail

@{
    Layout = "~/Views/Shared/SingleColumnLayout.cshtml";
    ViewBag.Title = "cos....";
}

@section articleTitle
{
    @Model.Title
}

<p>@Html.Raw(Model.Content)</p>