@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/lightbox.js"></script>

<link href="~/Content/gallery/lightbox.css" rel="stylesheet" />

<a href="~/Images/Gallery/Sample/image-1.jpg" rel="lightbox[a]" title="my caption">
    <img src="~/Images/Gallery/Sample/thumb-1.jpg" alt="alternatives"/>
</a>
<a href="~/Images/Gallery/Sample/image-2.jpg" rel="lightbox[a]" title="my caption 2">
    <img src="~/Images/Gallery/Sample/thumb-2.jpg" alt="alternatives"/>
</a>