@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/manager.css" rel="stylesheet" />

<div id="managerHeader">
    <h1>Super Simple Two Column Layout</h1>
</div>

<div id="content">
    <div id="sidebar">
        <ul>
            <li>@Html.ActionLink("Artykuły", "Index", "ArticlesManager")</li>
            <li>Sidebar stuff.</li>
            <li>Sidebar stuff.</li>
            <li>Sidebar stuff.</li>
        </ul>
    </div>

    <div id="main-content">
        @RenderBody()

    </div>

    <div class="clear"></div>
</div>
@section scripts
{
    @RenderSection("managerScripts", required: false)
}