<div id="layout-navigation" class="group">
    <div class="zone zone-navigation">
        <nav>
            <ul class="menu menu-main">
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li>
                    @Html.RouteLink("Aktualności", "listOfArticles", new { listName = "News" })
                </li>
                <li>
                    @Html.RouteLink("Uchwały", "listOfArticles", new { listName = "Resolutions" })
                </li>
                <li>
                    @Html.RouteLink("Historia koła", "articleByCategory", new { category = "History" })
                </li>
                <li>
                    <a href="/Containers/Item/Display/20">Galeria</a>
                </li>
                <li>
                    @Html.RouteLink("Kontakt", "articleByCategory", new { category = "Contact" })
                </li>
            </ul>
        </nav>
    </div>
</div>
