<div id="layout-navigation" class="group">
    <div class="zone zone-navigation">
        <nav>
            <ul class="menu menu-main">
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li>
                    @Html.ActionLink("Aktualności", "Index", "News")
                </li>
                <li>
                    <a href="/uchwaly">Uchwały</a>
                </li>
                <li>
                    <a href="/historia">Historia koła</a>
                </li>
                <li>
                    <a href="/Containers/Item/Display/20">Galeria</a>
                </li>
                <li>
                    <a href="/kontakt">Kontakt</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
