@model KoloLos.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<h3>We suggest the following:</h3>
<ul class="round">
    @foreach (var articleAbstract in Model.Abstracts)
    {
        <li class="one">
            <h5>@articleAbstract.Title</h5>
            @articleAbstract.Content
        </li>
    }
</ul>
